In [4]:
import pandas as pd
import numpy as np
import json

In [7]:
rag_df = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/RAG/final/all_rag_results_merged.csv')
baseline_df = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/RAG/final/all_baseline_results_merged.csv')
with open ('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/dataset/ground_truth.json', 'r') as f:
    gt = json.load(f)

In [8]:
rag_df['correct_count'] = rag_df.apply(
    lambda row: sum(
        str(row[f'Q{i}']) == str(gt[row['case_id']][f'Q{i}'])
        for i in range(9)
    ) if row['case_id'] in gt else 0,
    axis=1
)

print(rag_df.head())

     case_id       Q0   Q1             Q2   Q3             Q4             Q5  \
0  Case10075      CMA  Yes  Not Specified   No  Not Specified  Not Specified
1  Case11795      WES  Yes  Not Specified   No            Yes            Yes
2  Case12792  BRCA1/2   No  Not Specified   No  Not Specified             No
3  Case13983      WGS  Yes  Not Specified  Yes  Not Specified            Yes
4     Case13      WES  Yes  Not Specified  Yes            Yes            Yes

    Q6     Q7  Q8  token_input  token_output  token_total  top_k  \
0  Yes  81228  No        14606          2328        16934      1
1  Yes  81415  No        13776          3540        17316      1
2  Yes  81162  No        17829          1753        19582      1
3  Yes  81425  No        13800          3862        17662      1
4  Yes  81415  No        13731          4180        17911      1

   retrieval_count                 combo_folder retrieval_model qna_model  \
0               10  top1_10retrieve_gpt_5_gpt_5           gpt_5     gpt_5
1               10  top1_10retrieve_gpt_5_gpt_5           gpt_5     gpt_5
2               10  top1_10retrieve_gpt_5_gpt_5           gpt_5     gpt_5
3               10  top1_10retrieve_gpt_5_gpt_5           gpt_5     gpt_5
4               10  top1_10retrieve_gpt_5_gpt_5           gpt_5     gpt_5

   correct_count
0              5
1              6
2              8
3              6
4              7

In [2]:
one_mini = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/one_doc/final/eval/gpt-5-mini_evaluation.csv')
one_mini.head()

     case_id  correct  total   accuracy
0  Case10075        8      9  88.888889
1  Case10363        7      9  77.777778
2  Case10427        8      9  88.888889
3  Case10451        7      9  77.777778
4  Case10529        8      9  88.888889

In [3]:
one_5 = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/one_doc/final/eval/gpt-5_evaluation.csv')
one_5.head()

     case_id  correct  total   accuracy
0  Case10075        6      9  66.666667
1  Case10363        6      9  66.666667
2  Case10427        7      9  77.777778
3  Case10451        7      9  77.777778
4  Case10529        7      9  77.777778

In [27]:
t1_10_mini_mini = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/RAG/final/top1_10retrieve_gpt_5_mini_gpt_5_mini_update/qna_raw/qna_eval_rag.csv')
t1_10_mini_mini.head()

     case_id  correct  total   accuracy
0  Case10075        6      9  66.666667
1  Case11795        7      9  77.777778
2  Case12792        8      9  88.888889
3  Case13983        6      9  66.666667
4  Case14017        8      9  88.888889

In [28]:
t1_10_5_5 = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/RAG/final/top1_10retrieve_gpt_5_gpt_5_update/qna_raw/qna_eval_rag.csv')
t1_10_5_5.head()

     case_id  correct  total   accuracy
0  Case10075        5      9  55.555556
1  Case11795        6      9  66.666667
2  Case12792        8      9  88.888889
3  Case13983        6      9  66.666667
4     Case13        7      9  77.777778

In [29]:
t1_10_5_mini = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/RAG/final/top1_10retrieve_gpt_5_gpt_5_mini_update/qna_raw/qna_eval_rag.csv')
t1_10_5_mini.head()

     case_id  correct  total   accuracy
0  Case10075        6      9  66.666667
1  Case11795        8      9  88.888889
2  Case12792        8      9  88.888889
3  Case13983        6      9  66.666667
4     Case13        5      9  55.555556

In [30]:
t1_10_mini_5 = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/RAG/final/top1_10retrieve_gpt_5_mini_gpt_5_update/qna_raw/qna_eval_rag.csv') 
t1_10_mini_5.head()

     case_id  correct  total   accuracy
0  Case10075        5      9  55.555556
1  Case11795        7      9  77.777778
2  Case12792        8      9  88.888889
3  Case13983        6      9  66.666667
4     Case13        7      9  77.777778

In [31]:
t1_10_mini_mini_caseid = t1_10_mini_mini['case_id']
print(len(t1_10_mini_mini_caseid))
t1_10_5_5_caseid = t1_10_5_5['case_id']
print(len(t1_10_5_5_caseid))
t1_10_5_mini_caseid = t1_10_5_mini['case_id']
print(len(t1_10_5_mini_caseid))
t1_10_mini_5_caseid = t1_10_mini_5['case_id']
print(len(t1_10_mini_5_caseid))

36
36
37
37

In [32]:
common = set(t1_10_mini_mini_caseid) & set(t1_10_5_5_caseid) & set(t1_10_5_mini_caseid) & set(t1_10_mini_5_caseid)
common = list(common)
print(len(common))
print(common)

35
['Case3494', 'Case4196', 'Case17196', 'Case15202', 'Case4604', 'Case5834', 'Case7447', 'Case2847', 'Case9408', 'Case811', 'Case14226', 'Case2007', 'Case17595', 'Case14195', 'Case4262', 'Case15458', 'Case8051', 'Case16126', 'Case22', 'Case5674', 'Case15570', 'Case3223', 'Case6747', 'Case3581', 'Case9773', 'Case13983', 'Case2162', 'Case6867', 'Case11795', 'Case14017', 'Case10075', 'Case19162', 'Case2666', 'Case9349', 'Case12792']

In [33]:
one_mini_filter = one_mini[one_mini['case_id'].isin(common)]
one_5_filter = one_5[one_5['case_id'].isin(common)]

merged = one_mini_filter[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_mini'})
merged = merged.merge(one_5_filter[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_5'}), on='case_id')
merged = merged.merge(t1_10_5_5[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_10_5_5'}), on='case_id')
merged = merged.merge(t1_10_5_mini[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_10_5_mini'}), on='case_id')
merged = merged.merge(t1_10_mini_5[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_10_mini_5'}), on='case_id')
merged = merged.merge(t1_10_mini_mini[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_10_mini_mini'}), on='case_id')

In [34]:
avg_row = merged.iloc[:, 1:].mean().to_frame().T
avg_row.insert(0, 'case_id', 'AVERAGE')

std_row = merged.iloc[:, 1:].std().to_frame().T
std_row.insert(0, 'case_id', 'STD')

merged_with_stats = pd.concat([merged, avg_row, std_row], ignore_index=True)

print(merged_with_stats)

      case_id   one_mini      one_5  t1_10_5_5  t1_10_5_mini  t1_10_mini_5  \
0   Case10075  88.888889  66.666667  55.555556     66.666667     55.555556
1   Case11795  77.777778  66.666667  66.666667     88.888889     77.777778
2   Case12792  88.888889  88.888889  88.888889     88.888889     88.888889
3   Case13983  55.555556  66.666667  66.666667     66.666667     66.666667
4   Case14017  66.666667  44.444444  44.444444     55.555556     44.444444
5   Case14195  88.888889  88.888889  77.777778     88.888889     88.888889
6   Case14226  77.777778  77.777778  77.777778     88.888889     77.777778
7   Case15202  66.666667  77.777778  66.666667     66.666667     66.666667
8   Case15458  88.888889  88.888889  88.888889     88.888889     88.888889
9   Case15570  77.777778  88.888889  88.888889     88.888889     77.777778
10  Case16126  77.777778  88.888889  88.888889     88.888889     88.888889
11  Case17196  77.777778  77.777778  77.777778     88.888889     77.777778
12  Case17595  44.444444  77.777778  77.777778     55.555556     44.444444
13  Case19162  77.777778  44.444444  44.444444     77.777778     66.666667
14   Case2007  88.888889  88.888889  88.888889     88.888889     88.888889
15   Case2162  88.888889  44.444444  55.555556     33.333333     44.444444
16     Case22  88.888889  88.888889  88.888889     88.888889     88.888889
17   Case2666  55.555556  55.555556  55.555556     44.444444     55.555556
18   Case2847  77.777778  55.555556  55.555556     66.666667     66.666667
19   Case3223  55.555556  55.555556  55.555556     66.666667     55.555556
20   Case3494  66.666667  77.777778  77.777778     66.666667     77.777778
21   Case3581  77.777778  77.777778  77.777778     77.777778     77.777778
22   Case4196  77.777778  77.777778  55.555556     55.555556     77.777778
23   Case4262  88.888889  88.888889  88.888889     88.888889     77.777778
24   Case4604  77.777778  77.777778  77.777778     77.777778     77.777778
25   Case5674  66.666667  66.666667  66.666667     66.666667     66.666667
26   Case5834  66.666667  44.444444  33.333333     66.666667     44.444444
27   Case6747  77.777778  44.444444  55.555556     55.555556     44.444444
28   Case6867  66.666667  66.666667  66.666667     66.666667     66.666667
29   Case7447  55.555556  55.555556  55.555556     55.555556     66.666667
30   Case8051  44.444444  77.777778  77.777778     44.444444     66.666667
31    Case811  77.777778  66.666667  77.777778     77.777778     55.555556
32   Case9349  88.888889  66.666667  88.888889     77.777778     88.888889
33   Case9408  66.666667  66.666667  66.666667     77.777778     66.666667
34   Case9773  55.555556  55.555556  33.333333     55.555556     33.333333
35    AVERAGE  73.333333  69.841270  68.888889     71.428571     68.571429
36        STD  13.256861  15.141892  16.347711     15.547550     15.825325

    t1_10_mini_mini
0         66.666667
1         77.777778
2         88.888889
3         66.666667
4         88.888889
5         88.888889
6         88.888889
7         66.666667
8         88.888889
9         88.888889
10        88.888889
11        66.666667
12        44.444444
13        44.444444
14        88.888889
15        55.555556
16        88.888889
17        55.555556
18        66.666667
19        55.555556
20        66.666667
21        77.777778
22        66.666667
23        77.777778
24        88.888889
25        77.777778
26        44.444444
27        66.666667
28        66.666667
29        55.555556
30        77.777778
31        77.777778
32        88.888889
33        77.777778
34        44.444444
35        72.063492
36        15.093855

In [41]:
one_mini_filter_10_mm = one_mini[one_mini['case_id'].isin(t1_10_mini_mini_caseid)]
one_5_filter_10_mm = one_5[one_5['case_id'].isin(t1_10_mini_mini_caseid)]

merged_mm_10 = one_mini_filter_10_mm[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_mini'})
merged_mm_10 = merged_mm_10.merge(one_5_filter_10_mm[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_5'}), on='case_id')
merged_mm_10 = merged_mm_10.merge(t1_10_mini_mini[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_10_mini_mini'}), on='case_id')
avg_row = merged_mm_10.iloc[:, 1:].mean().to_frame().T
avg_row.insert(0, 'case_id', 'AVERAGE')

std_row = merged_mm_10.iloc[:, 1:].std().to_frame().T
std_row.insert(0, 'case_id', 'STD')

merged_with_stats_mm_10 = pd.concat([merged_mm_10, avg_row, std_row], ignore_index=True)

print(merged_with_stats_mm_10)

      case_id   one_mini      one_5  t1_10_mini_mini
0   Case10075  88.888889  66.666667        66.666667
1   Case11795  77.777778  66.666667        77.777778
2   Case12792  88.888889  88.888889        88.888889
3   Case13983  55.555556  66.666667        66.666667
4   Case14017  66.666667  44.444444        88.888889
5   Case14195  88.888889  88.888889        88.888889
6   Case14226  77.777778  77.777778        88.888889
7   Case15202  66.666667  77.777778        66.666667
8   Case15458  88.888889  88.888889        88.888889
9   Case15570  77.777778  88.888889        88.888889
10  Case16126  77.777778  88.888889        88.888889
11  Case17196  77.777778  77.777778        66.666667
12  Case17595  44.444444  77.777778        44.444444
13  Case18821  55.555556  66.666667        55.555556
14  Case19162  77.777778  44.444444        44.444444
15   Case2007  88.888889  88.888889        88.888889
16   Case2162  88.888889  44.444444        55.555556
17     Case22  88.888889  88.888889        88.888889
18   Case2666  55.555556  55.555556        55.555556
19   Case2847  77.777778  55.555556        66.666667
20   Case3223  55.555556  55.555556        55.555556
21   Case3494  66.666667  77.777778        66.666667
22   Case3581  77.777778  77.777778        77.777778
23   Case4196  77.777778  77.777778        66.666667
24   Case4262  88.888889  88.888889        77.777778
25   Case4604  77.777778  77.777778        88.888889
26   Case5674  66.666667  66.666667        77.777778
27   Case5834  66.666667  44.444444        44.444444
28   Case6747  77.777778  44.444444        66.666667
29   Case6867  66.666667  66.666667        66.666667
30   Case7447  55.555556  55.555556        55.555556
31   Case8051  44.444444  77.777778        77.777778
32    Case811  77.777778  66.666667        77.777778
33   Case9349  88.888889  66.666667        88.888889
34   Case9408  66.666667  66.666667        77.777778
35   Case9773  55.555556  55.555556        44.444444
36    AVERAGE  72.839506  69.753086        71.604938
37        STD  13.397845  14.933388        15.128945

In [42]:
one_mini_filter_10_5m = one_mini[one_mini['case_id'].isin(t1_10_5_mini_caseid)]
one_5_filter_10_5m = one_5[one_5['case_id'].isin(t1_10_5_mini_caseid)]

merged_5m_10 = one_mini_filter_10_5m[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_mini'})
merged_5m_10 = merged_5m_10.merge(one_5_filter_10_5m[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_5'}), on='case_id')
merged_5m_10 = merged_5m_10.merge(t1_10_5_mini[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_10_5_mini'}), on='case_id')
avg_row = merged_5m_10.iloc[:, 1:].mean().to_frame().T
avg_row.insert(0, 'case_id', 'AVERAGE')

std_row = merged_5m_10.iloc[:, 1:].std().to_frame().T
std_row.insert(0, 'case_id', 'STD')

merged_with_stats_5m_10 = pd.concat([merged_5m_10, avg_row, std_row], ignore_index=True)

print(merged_with_stats_5m_10)

      case_id   one_mini      one_5  t1_10_5_mini
0   Case10075  88.888889  66.666667     66.666667
1   Case11795  77.777778  66.666667     88.888889
2   Case12792  88.888889  88.888889     88.888889
3   Case13983  55.555556  66.666667     66.666667
4      Case13  44.444444  66.666667     55.555556
5   Case14017  66.666667  44.444444     55.555556
6   Case14195  88.888889  88.888889     88.888889
7   Case14226  77.777778  77.777778     88.888889
8   Case15202  66.666667  77.777778     66.666667
9   Case15458  88.888889  88.888889     88.888889
10  Case15570  77.777778  88.888889     88.888889
11  Case16126  77.777778  88.888889     88.888889
12  Case17196  77.777778  77.777778     88.888889
13  Case17595  44.444444  77.777778     55.555556
14  Case18821  55.555556  66.666667     77.777778
15  Case19162  77.777778  44.444444     77.777778
16   Case2007  88.888889  88.888889     88.888889
17   Case2162  88.888889  44.444444     33.333333
18     Case22  88.888889  88.888889     88.888889
19   Case2666  55.555556  55.555556     44.444444
20   Case2847  77.777778  55.555556     66.666667
21   Case3223  55.555556  55.555556     66.666667
22   Case3494  66.666667  77.777778     66.666667
23   Case3581  77.777778  77.777778     77.777778
24   Case4196  77.777778  77.777778     55.555556
25   Case4262  88.888889  88.888889     88.888889
26   Case4604  77.777778  77.777778     77.777778
27   Case5674  66.666667  66.666667     66.666667
28   Case5834  66.666667  44.444444     66.666667
29   Case6747  77.777778  44.444444     55.555556
30   Case6867  66.666667  66.666667     66.666667
31   Case7447  55.555556  55.555556     55.555556
32   Case8051  44.444444  77.777778     44.444444
33    Case811  77.777778  66.666667     77.777778
34   Case9349  88.888889  66.666667     77.777778
35   Case9408  66.666667  66.666667     77.777778
36   Case9773  55.555556  55.555556     55.555556
37    AVERAGE  72.072072  69.669670     71.171171
38        STD  14.010975  14.733259     15.373596

In [43]:
one_mini_filter_10_55 = one_mini[one_mini['case_id'].isin(t1_10_5_5_caseid)]
one_5_filter_10_55 = one_5[one_5['case_id'].isin(t1_10_5_5_caseid)]

merged_55_10 = one_mini_filter_10_55[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_mini'})
merged_55_10 = merged_55_10.merge(one_5_filter_10_55[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_5'}), on='case_id')
merged_55_10 = merged_55_10.merge(t1_10_5_5[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_10_5_5'}), on='case_id')
avg_row = merged_55_10.iloc[:, 1:].mean().to_frame().T
avg_row.insert(0, 'case_id', 'AVERAGE')

std_row = merged_55_10.iloc[:, 1:].std().to_frame().T
std_row.insert(0, 'case_id', 'STD')

merged_with_stats_55_10 = pd.concat([merged_55_10, avg_row, std_row], ignore_index=True)

print(merged_with_stats_55_10)

      case_id   one_mini      one_5  t1_10_5_5
0   Case10075  88.888889  66.666667  55.555556
1   Case11795  77.777778  66.666667  66.666667
2   Case12792  88.888889  88.888889  88.888889
3   Case13983  55.555556  66.666667  66.666667
4      Case13  44.444444  66.666667  77.777778
5   Case14017  66.666667  44.444444  44.444444
6   Case14195  88.888889  88.888889  77.777778
7   Case14226  77.777778  77.777778  77.777778
8   Case15202  66.666667  77.777778  66.666667
9   Case15458  88.888889  88.888889  88.888889
10  Case15570  77.777778  88.888889  88.888889
11  Case16126  77.777778  88.888889  88.888889
12  Case17196  77.777778  77.777778  77.777778
13  Case17595  44.444444  77.777778  77.777778
14  Case19162  77.777778  44.444444  44.444444
15   Case2007  88.888889  88.888889  88.888889
16   Case2162  88.888889  44.444444  55.555556
17     Case22  88.888889  88.888889  88.888889
18   Case2666  55.555556  55.555556  55.555556
19   Case2847  77.777778  55.555556  55.555556
20   Case3223  55.555556  55.555556  55.555556
21   Case3494  66.666667  77.777778  77.777778
22   Case3581  77.777778  77.777778  77.777778
23   Case4196  77.777778  77.777778  55.555556
24   Case4262  88.888889  88.888889  88.888889
25   Case4604  77.777778  77.777778  77.777778
26   Case5674  66.666667  66.666667  66.666667
27   Case5834  66.666667  44.444444  33.333333
28   Case6747  77.777778  44.444444  55.555556
29   Case6867  66.666667  66.666667  66.666667
30   Case7447  55.555556  55.555556  55.555556
31   Case8051  44.444444  77.777778  77.777778
32    Case811  77.777778  66.666667  77.777778
33   Case9349  88.888889  66.666667  88.888889
34   Case9408  66.666667  66.666667  66.666667
35   Case9773  55.555556  55.555556  33.333333
36    AVERAGE  72.530864  69.753086  69.135802
37        STD  13.924997  14.933388  16.180444

In [44]:
one_mini_filter_10_m5 = one_mini[one_mini['case_id'].isin(t1_10_mini_5_caseid)]
one_5_filter_10_m5 = one_5[one_5['case_id'].isin(t1_10_mini_5_caseid)]

merged_m5_10 = one_mini_filter_10_m5[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_mini'})
merged_m5_10 = merged_m5_10.merge(one_5_filter_10_m5[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_5'}), on='case_id')
merged_m5_10 = merged_m5_10.merge(t1_10_mini_5[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_10_mini_5'}), on='case_id')
avg_row = merged_m5_10.iloc[:, 1:].mean().to_frame().T
avg_row.insert(0, 'case_id', 'AVERAGE')

std_row = merged_m5_10.iloc[:, 1:].std().to_frame().T
std_row.insert(0, 'case_id', 'STD')

merged_with_stats_m5_10 = pd.concat([merged_m5_10, avg_row, std_row], ignore_index=True)

print(merged_with_stats_m5_10)

      case_id   one_mini      one_5  t1_10_mini_5
0   Case10075  88.888889  66.666667     55.555556
1   Case11795  77.777778  66.666667     77.777778
2   Case12792  88.888889  88.888889     88.888889
3   Case13983  55.555556  66.666667     66.666667
4      Case13  44.444444  66.666667     77.777778
5   Case14017  66.666667  44.444444     44.444444
6   Case14195  88.888889  88.888889     88.888889
7   Case14226  77.777778  77.777778     77.777778
8   Case15202  66.666667  77.777778     66.666667
9   Case15458  88.888889  88.888889     88.888889
10  Case15570  77.777778  88.888889     77.777778
11  Case16126  77.777778  88.888889     88.888889
12  Case17196  77.777778  77.777778     77.777778
13  Case17595  44.444444  77.777778     44.444444
14  Case18821  55.555556  66.666667     66.666667
15  Case19162  77.777778  44.444444     66.666667
16   Case2007  88.888889  88.888889     88.888889
17   Case2162  88.888889  44.444444     44.444444
18     Case22  88.888889  88.888889     88.888889
19   Case2666  55.555556  55.555556     55.555556
20   Case2847  77.777778  55.555556     66.666667
21   Case3223  55.555556  55.555556     55.555556
22   Case3494  66.666667  77.777778     77.777778
23   Case3581  77.777778  77.777778     77.777778
24   Case4196  77.777778  77.777778     77.777778
25   Case4262  88.888889  88.888889     77.777778
26   Case4604  77.777778  77.777778     77.777778
27   Case5674  66.666667  66.666667     66.666667
28   Case5834  66.666667  44.444444     44.444444
29   Case6747  77.777778  44.444444     44.444444
30   Case6867  66.666667  66.666667     66.666667
31   Case7447  55.555556  55.555556     66.666667
32   Case8051  44.444444  77.777778     66.666667
33    Case811  77.777778  66.666667     55.555556
34   Case9349  88.888889  66.666667     88.888889
35   Case9408  66.666667  66.666667     66.666667
36   Case9773  55.555556  55.555556     33.333333
37    AVERAGE  72.072072  69.669670     68.768769
38        STD  14.010975  14.733259     15.457770

In [35]:
t1_30_5_mini = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/RAG/final/top1_30retrieve_gpt_5_gpt_5_mini_update/qna_raw/qna_eval_rag.csv')
t1_30_mini_mini = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/RAG/final/top1_30retrieve_gpt_5_mini_gpt_5_mini_update/qna_raw/qna_eval_rag.csv')
t1_30_5_5 = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/RAG/final/top1_30retrieve_gpt_5_gpt_5_update/qna_raw/qna_eval_rag.csv')
t1_30_mini_5 = pd.read_csv('/home/cptaswadu/new-rescue/RESCUE-n8n/eval/insurance/results/LLM_QnA/RAG/final/top1_30retrieve_gpt_5_mini_gpt_5_update/qna_raw/qna_eval_rag.csv')

t1_30_mini_mini_caseid = t1_30_mini_mini['case_id']
print(len(t1_30_mini_mini_caseid))
t1_30_5_5_caseid = t1_30_5_5['case_id']
print(len(t1_30_5_5_caseid))
t1_30_5_mini_caseid = t1_30_5_mini['case_id']
print(len(t1_30_5_mini_caseid))
t1_30_mini_5_caseid = t1_30_mini_5['case_id']
print(len(t1_30_mini_5_caseid))

40
39
39
39

In [36]:
common_30 = set(t1_30_mini_mini_caseid) & set(t1_30_5_5_caseid) & set(t1_30_5_mini_caseid) & set(t1_30_mini_5_caseid)
common_30 = list(common_30)
print(len(common_30))

35

In [37]:
one_mini_filter_30_mm = one_mini[one_mini['case_id'].isin(t1_30_mini_mini_caseid)]
one_5_filter_30_mm = one_5[one_5['case_id'].isin(t1_30_mini_mini_caseid)]

merged_mm = one_mini_filter_30_mm[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_mini'})
merged_mm = merged_mm.merge(one_5_filter_30_mm[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_5'}), on='case_id')
merged_mm = merged_mm.merge(t1_30_mini_mini[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_30_mini_mini'}), on='case_id')
avg_row = merged_mm.iloc[:, 1:].mean().to_frame().T
avg_row.insert(0, 'case_id', 'AVERAGE')

std_row = merged_mm.iloc[:, 1:].std().to_frame().T
std_row.insert(0, 'case_id', 'STD')

merged_with_stats_mm = pd.concat([merged_mm, avg_row, std_row], ignore_index=True)

print(merged_with_stats_mm)

      case_id   one_mini      one_5  t1_30_mini_mini
0   Case10075  88.888889  66.666667        77.777778
1   Case11795  77.777778  66.666667       100.000000
2   Case12792  88.888889  88.888889        88.888889
3   Case13983  55.555556  66.666667        44.444444
4      Case13  44.444444  66.666667        88.888889
5   Case14017  66.666667  44.444444        77.777778
6   Case14141  88.888889  88.888889       100.000000
7   Case14155  66.666667  66.666667        66.666667
8   Case14195  88.888889  88.888889        88.888889
9   Case14226  77.777778  77.777778        88.888889
10  Case14408  55.555556  66.666667        55.555556
11  Case15202  66.666667  77.777778        55.555556
12  Case15458  88.888889  88.888889        88.888889
13  Case15570  77.777778  88.888889        88.888889
14  Case16126  77.777778  88.888889        88.888889
15  Case17196  77.777778  77.777778        66.666667
16  Case17595  44.444444  77.777778        55.555556
17  Case18821  55.555556  66.666667        66.666667
18  Case19162  77.777778  44.444444        77.777778
19   Case2007  88.888889  88.888889        88.888889
20   Case2162  88.888889  44.444444        77.777778
21     Case22  88.888889  88.888889        88.888889
22   Case2666  55.555556  55.555556        55.555556
23   Case2847  77.777778  55.555556        77.777778
24   Case3223  55.555556  55.555556        55.555556
25   Case3494  66.666667  77.777778        77.777778
26   Case3581  77.777778  77.777778        77.777778
27   Case4196  77.777778  77.777778        55.555556
28   Case4262  88.888889  88.888889        66.666667
29   Case4604  77.777778  77.777778        77.777778
30   Case5834  66.666667  44.444444        55.555556
31   Case6747  77.777778  44.444444        88.888889
32   Case6867  66.666667  66.666667        55.555556
33   Case7447  55.555556  55.555556        66.666667
34   Case8051  44.444444  77.777778        33.333333
35    Case811  77.777778  66.666667        77.777778
36   Case8485  55.555556  77.777778        55.555556
37   Case9349  88.888889  66.666667        88.888889
38   Case9408  66.666667  66.666667        77.777778
39   Case9773  55.555556  55.555556        66.666667
40    AVERAGE  71.666667  70.277778        73.333333
41        STD  14.222489  14.538920        15.873830

In [38]:
one_mini_filter_30_5m = one_mini[one_mini['case_id'].isin(t1_30_5_mini_caseid)]
one_5_filter_30_5m = one_5[one_5['case_id'].isin(t1_30_5_mini_caseid)]

merged_5m = one_mini_filter_30_5m[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_mini'})
merged_5m = merged_5m.merge(one_5_filter_30_5m[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_5'}), on='case_id')
merged_5m = merged_5m.merge(t1_30_5_mini[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_30_5_mini'}), on='case_id')
avg_row = merged_5m.iloc[:, 1:].mean().to_frame().T
avg_row.insert(0, 'case_id', 'AVERAGE')

std_row = merged_5m.iloc[:, 1:].std().to_frame().T
std_row.insert(0, 'case_id', 'STD')

merged_with_stats_5m = pd.concat([merged_5m, avg_row, std_row], ignore_index=True)

print(merged_with_stats_5m)

      case_id   one_mini      one_5  t1_30_5_mini
0   Case10075  88.888889  66.666667     77.777778
1   Case11795  77.777778  66.666667     88.888889
2   Case12792  88.888889  88.888889     88.888889
3   Case13983  55.555556  66.666667     55.555556
4      Case13  44.444444  66.666667     77.777778
5   Case14017  66.666667  44.444444     77.777778
6   Case14141  88.888889  88.888889    100.000000
7   Case14155  66.666667  66.666667     66.666667
8   Case14195  88.888889  88.888889     88.888889
9   Case14226  77.777778  77.777778     77.777778
10  Case14408  55.555556  66.666667     55.555556
11  Case15458  88.888889  88.888889     88.888889
12  Case15570  77.777778  88.888889     88.888889
13  Case16126  77.777778  88.888889     77.777778
14  Case17196  77.777778  77.777778     88.888889
15  Case17595  44.444444  77.777778     55.555556
16  Case19162  77.777778  44.444444     77.777778
17   Case2007  88.888889  88.888889     88.888889
18   Case2162  88.888889  44.444444     77.777778
19     Case22  88.888889  88.888889     88.888889
20   Case2666  55.555556  55.555556     55.555556
21   Case2847  77.777778  55.555556     77.777778
22   Case3223  55.555556  55.555556     55.555556
23   Case3494  66.666667  77.777778     66.666667
24   Case3581  77.777778  77.777778     77.777778
25   Case4196  77.777778  77.777778     44.444444
26   Case4262  88.888889  88.888889     88.888889
27   Case4604  77.777778  77.777778     66.666667
28   Case5674  66.666667  66.666667     55.555556
29   Case5834  66.666667  44.444444     66.666667
30   Case6747  77.777778  44.444444     44.444444
31   Case6867  66.666667  66.666667     66.666667
32   Case7447  55.555556  55.555556     66.666667
33   Case8051  44.444444  77.777778     77.777778
34    Case811  77.777778  66.666667     77.777778
35   Case8485  55.555556  77.777778     55.555556
36   Case9349  88.888889  66.666667     88.888889
37   Case9408  66.666667  66.666667     88.888889
38   Case9773  55.555556  55.555556     77.777778
39    AVERAGE  72.079772  70.085470     74.074074
40        STD  14.163208  14.677350     14.268686

In [39]:
one_mini_filter_30_m5 = one_mini[one_mini['case_id'].isin(t1_30_mini_5_caseid)]
one_5_filter_30_m5 = one_5[one_5['case_id'].isin(t1_30_mini_5_caseid)]

merged_m5 = one_mini_filter_30_m5[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_mini'})
merged_m5 = merged_m5.merge(one_5_filter_30_m5[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_5'}), on='case_id')
merged_m5 = merged_m5.merge(t1_30_mini_5[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_30_mini_5'}), on='case_id')
avg_row = merged_m5.iloc[:, 1:].mean().to_frame().T
avg_row.insert(0, 'case_id', 'AVERAGE')

std_row = merged_m5.iloc[:, 1:].std().to_frame().T
std_row.insert(0, 'case_id', 'STD')

merged_with_stats_m5 = pd.concat([merged_m5, avg_row, std_row], ignore_index=True)

print(merged_with_stats_m5)

      case_id   one_mini      one_5  t1_30_mini_5
0   Case10075  88.888889  66.666667     66.666667
1   Case11795  77.777778  66.666667     66.666667
2   Case13983  55.555556  66.666667     66.666667
3      Case13  44.444444  66.666667     88.888889
4   Case14017  66.666667  44.444444     44.444444
5   Case14141  88.888889  88.888889     88.888889
6   Case14155  66.666667  66.666667     77.777778
7   Case14195  88.888889  88.888889     77.777778
8   Case14226  77.777778  77.777778     77.777778
9   Case14408  55.555556  66.666667     66.666667
10  Case15202  66.666667  77.777778     66.666667
11  Case15458  88.888889  88.888889     88.888889
12  Case15570  77.777778  88.888889     88.888889
13  Case17196  77.777778  77.777778     77.777778
14  Case17595  44.444444  77.777778     66.666667
15  Case18821  55.555556  66.666667     66.666667
16  Case19162  77.777778  44.444444     55.555556
17   Case2007  88.888889  88.888889     88.888889
18   Case2162  88.888889  44.444444     66.666667
19     Case22  88.888889  88.888889     88.888889
20   Case2666  55.555556  55.555556     55.555556
21   Case2847  77.777778  55.555556     55.555556
22   Case3223  55.555556  55.555556     55.555556
23   Case3494  66.666667  77.777778     77.777778
24   Case3581  77.777778  77.777778     77.777778
25   Case4196  77.777778  77.777778     77.777778
26   Case4262  88.888889  88.888889     77.777778
27   Case4604  77.777778  77.777778     77.777778
28   Case5674  66.666667  66.666667     66.666667
29   Case5834  66.666667  44.444444     33.333333
30   Case6747  77.777778  44.444444     44.444444
31   Case6867  66.666667  66.666667     66.666667
32   Case7447  55.555556  55.555556     66.666667
33   Case8051  44.444444  77.777778     77.777778
34    Case811  77.777778  66.666667     66.666667
35   Case8485  55.555556  77.777778     66.666667
36   Case9349  88.888889  66.666667     88.888889
37   Case9408  66.666667  66.666667     66.666667
38   Case9773  55.555556  55.555556     44.444444
39    AVERAGE  70.940171  69.230769     69.800570
40        STD  14.104268  14.068785     13.949859

In [40]:
one_mini_filter_30_55 = one_mini[one_mini['case_id'].isin(t1_30_5_5_caseid)]
one_5_filter_30_55 = one_5[one_5['case_id'].isin(t1_30_5_5_caseid)]

merged_55 = one_mini_filter_30_55[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_mini'})
merged_55 = merged_55.merge(one_5_filter_30_55[['case_id', 'accuracy']].rename(columns={'accuracy': 'one_5'}), on='case_id')
merged_55 = merged_55.merge(t1_30_5_5[['case_id', 'accuracy']].rename(columns={'accuracy': 't1_30_5_5'}), on='case_id')
avg_row = merged_55.iloc[:, 1:].mean().to_frame().T
avg_row.insert(0, 'case_id', 'AVERAGE')

std_row = merged_55.iloc[:, 1:].std().to_frame().T
std_row.insert(0, 'case_id', 'STD')

merged_with_stats_55 = pd.concat([merged_55, avg_row, std_row], ignore_index=True)

print(merged_with_stats_55)

      case_id   one_mini      one_5  t1_30_5_5
0   Case10075  88.888889  66.666667  55.555556
1   Case11795  77.777778  66.666667  66.666667
2   Case12792  88.888889  88.888889  88.888889
3   Case13983  55.555556  66.666667  66.666667
4      Case13  44.444444  66.666667  55.555556
5   Case14017  66.666667  44.444444  55.555556
6   Case14141  88.888889  88.888889  88.888889
7   Case14155  66.666667  66.666667  66.666667
8   Case14195  88.888889  88.888889  88.888889
9   Case14226  77.777778  77.777778  77.777778
10  Case14408  55.555556  66.666667  66.666667
11  Case15202  66.666667  77.777778  66.666667
12  Case15458  88.888889  88.888889  88.888889
13  Case15570  77.777778  88.888889  77.777778
14  Case16126  77.777778  88.888889  88.888889
15  Case17196  77.777778  77.777778  77.777778
16  Case17595  44.444444  77.777778  33.333333
17  Case19162  77.777778  44.444444  44.444444
18   Case2007  88.888889  88.888889  88.888889
19   Case2162  88.888889  44.444444  44.444444
20     Case22  88.888889  88.888889  88.888889
21   Case2666  55.555556  55.555556  55.555556
22   Case2847  77.777778  55.555556  66.666667
23   Case3223  55.555556  55.555556  55.555556
24   Case3494  66.666667  77.777778  77.777778
25   Case3581  77.777778  77.777778  77.777778
26   Case4262  88.888889  88.888889  88.888889
27   Case4604  77.777778  77.777778  77.777778
28   Case5674  66.666667  66.666667  66.666667
29   Case5834  66.666667  44.444444  44.444444
30   Case6747  77.777778  44.444444  44.444444
31   Case6867  66.666667  66.666667  66.666667
32   Case7447  55.555556  55.555556  66.666667
33   Case8051  44.444444  77.777778  77.777778
34    Case811  77.777778  66.666667  55.555556
35   Case8485  55.555556  77.777778  66.666667
36   Case9349  88.888889  66.666667  88.888889
37   Case9408  66.666667  66.666667  66.666667
38   Case9773  55.555556  55.555556  33.333333
39    AVERAGE  71.794872  70.085470  68.091168
40        STD  14.157325  14.677350  16.357659